.show_solved tbody tr th:nth-child(2) a::before{
    content: '❌';
}

.show_solved tbody tr.solved_all_essential th:nth-child(2) a::before{
    content: '✅';
}

.user_id {
    cursor: pointer
}

[title='연습 순위 순으로 정렬하기'] {
    cursor: pointer
}

#contest_scoreboard th {
    white-space: nowrap;
}